@import '_variables';

.pagination {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: $media-mobile-large) {
    flex-direction: column;
  }
}

.controlDesktop {
  @media (max-width: $media-mobile-large) {
    display: none !important;
  }

  &.hiddenElement {
    display: none;
  }
}

.controlMobileBlock {
  width: 100%;
  margin-top: 12px;
  @media (min-width: $media-mobile-large) {
    display: none;
  }

  &.hiddenElement {
    display: none;
  }
}

.list {
  @media (max-width: $media-mobile-large) {
    &.spaceBetween {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }
}

.listItem {
  @media (max-width: $media-mobile-large) {
    &.toMargin {
      &:not(:nth-last-of-type(2)) {
        margin-right: 24px;
      }
    }
  }
}
